{# vim:set filetype=html.jinja2: #}
{% extends "root.html" %}

{% block title %}{{page.title}} | {{ super() }}{% endblock title %}

{% block body %}
<!-- Language switcher -->
<nav class="language-selection">
  {% for translation in page.translations|default([]) %}
  <a href="{{SITEURL|urljoin(translation.url)}}" hreflang="{{translation.lang}}">{{translation.lang|unicode_flag}}</a>
  {% endfor %}
</nav>

{{ page.content }}
{% endblock body %}
