{# vim:set filetype=html.jinja2: #}
<!DOCTYPE html>
<html lang="{{DEFAULT_LANG}}">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{{SITENAME}}{% endblock title %}</title>
  </head>
  <body>
    {% block body %}
    {% endblock body %}
  </body>
</html>
